# MongoDB Configuration
MONGO_URI=mongodb+srv://1032221163:WmG3kLX4WIv8GEJk@cluster0.4kypzkq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DATABASE_NAME=csmp_findings
COLLECTION_NAME=s3_audit_findings

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True

# API Configuration
API_HOST=0.0.0.0
API_PORT=5000